.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 33, 45);
    height: 90px;
    
    .list-items {
        display: flex;
        gap: 16px;
        list-style: none;
        justify-content: center;

        .item {
            border: 2px solid #c2c2c2;
            border-radius: 6px;
            background-color: black;
            cursor: pointer;

            a {
                display: block;
                padding: 8px 24px;
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

                &:hover {
                    background-color: #575757;
                }
            }
        }
    }
}